<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".MeetingActivity"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <activity
            android:name=".MeetingDetailActivity"
            android:parentActivityName=".MeetingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeetingActivity" />
        </activity>
        <activity
            android:name=".Lessons"
            android:label="@string/title_activity_lessons"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".People"
            android:label="@string/title_activity_people"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".schedule_today"
            android:label="@string/title_activity_schedule_today"
            android:parentActivityName=".Schedule"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Schedule"/>
        </activity>
    </application>

</manifest>